@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. About
7. Split Section Right
8. Split Section Left
9. Testimonials
10. Footer


******************************/

/***********
1. Fonts
***********/



/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	justify-content: center;
	align-content: center;
}
body
{
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}

h4
{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 500;
	color: #6d6d6d;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	
}
h4 a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
h4:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h4 a:active
{
	position: relative;
	color: #FF6347;
}
h4 a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
h4 a:hover::after
{
	opacity: 0.2;
}


h1{font-size: 47px;}
h2{font-size: 36px;font-weight: bold;color:navy;text-align: center;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1,  h3, h4, h5, h6
{
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #393939;
	font-weight: 600;
}


button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}

.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}

.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 80%;
	width: 80%S;
}
.slide
{
	height: 80%;
	width: 80%;
}
.container_custom .container
{
	padding-left: 0;
	padding-right: 0;
	max-width: 100%;
	max-height: 100%;
}


/*********************************
3. Header
*********************************/


.contain{
    
	width: 100%;
   height: 18%;
	background-image: url(goa.jpg);
   background-size: cover;
	 background-position: center;
	background-repeat: no-repeat;
   padding-left: 8%;
   padding-right: 8%;
  box-sizing: border-box;
}
.header{
	  
	   display: flex;
	   align-items: center;
		overflow: hidden;
		 position: relative;
}

.logo{
width: 200px;
cursor: pointer;
}
.navbar{
text-align: center;
flex: 1;
}
.navbar a{
padding: 8px 15px;
text-decoration: rgb(48, 245, 22);
color:rgb(12, 8, 12);
margin-left: 20px;
font-size: 18px;
font-weight: bold;
text-shadow: 1px 1px 1px #0be80e;

}

.box
{
 background:rgb(232, 185, 143);
 padding: 7px 15px;
 color: #100909;
 font-weight:bolder;
 font-size: 16px;
 cursor: pointer;
 position: relative;
 z-index: 0;
 border-radius: 12px;
 }

	.content {
		font-size: 70px;
		color: hsl(0, 89%, 38%);
		text-align: center;
		font-family: 'Times New Roman', Times, serif ;
		padding: 50px 50px;
		text-shadow: 8px 8px 8px rgb(26, 22, 22);
		}

/*********************************
4. Menu
*********************************/

/*********************************
5. Home
*********************************/


/*********************************
6. About
*********************************/

.about
{
	background:ivory;
	padding-top: 107px;
	padding-bottom: 104px;
}
.about_title h1 
{
	color: #000000;
	
	margin: 0;
	text-align: center;
	}
	
	
	.about_title h1 span {
	color: #e0ac1c;
	text-align: center;
	}
.container{
	padding-right: 8px;
}

/*********************************
7. Split Section Right
*********************************/

.split_section_right
{
	background: ivory;
}
.split_section_right_content
{
	padding: 104;
	padding-left: 95px;
	padding-bottom: 100px;
	
}
.split_section_title h1
{
	font-size: 72px;
}
.split_section_text
{
	margin-top: 20px;
}
.milestones_container
{
	margin-top: 84px;
	padding-right: 50px;
	padding-left: 10px;
}
.milestone
{
	width: calc(100% / 3);
	margin-bottom: 60px;
}
.milestone_counter
{
	font-size: 72px;
	color: #393939;
	font-weight: 600;
	line-height: 0.75;
}
.milestone_title
{
	font-size: 16px;
	color: #868686;
	font-weight: 600;
	line-height: 0.75;
	margin-top: 35px;
}
.split_section_image
{
	height: 99%;
	width: 100%;
	
}


/*********************************
8. Split Section Left
*********************************/

.split_section_left
{
	background:ivory;
}
.split_section_left_content
{
	padding-left: 104px;
	padding-top: 116px;
	padding-right: 95px;
	padding-bottom: 100px;
}
.loaders_container
{
	margin-top: 43px;
	margin-left: -22px;
}
.loader_container
{
	width: calc(100% / 3);
	height: 155px;
}
.loader
{
	width: 155px;
	height: 155px;
	background: transparent;
}
.loader_content
{
	position: absolute;
	left: 50%;
	bottom: 48px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 18px;
	font-weight: 500;
	color: #232323;
	white-space: nowrap;
	text-align: center;
}
.loader_title
{
	font-size: 14px;
	font-weight: 600;
	color: #868686;
	line-height: 0.75;
	white-space: nowrap;
}
.progressbar-text
{
	top: calc(40% + 1px) !important;
	font-size: 48px !important;
	font-weight: 600 !important;
	color: #393939 !important;
	line-height: 0.75 !important;
}

/*********************************
9. Testimonials
*********************************/


/*********************************
10. Footer
*********************************/
/* The footer is fixed to the bottom of the page */

footer {
	position: fixed;
	bottom: 0;
	}
	
	@media (max-height:800px) {
	footer {
		position: static;
	}
	header {
		padding-top: 40px;
	}
	}
	
	.footer-distributed {
	background-color: #2d2a30;
	box-sizing: 50px;
	box-sizing: border-box;
	width: 100%;
	
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px ;

	}
	
	.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
	}
	
	/* Footer left */
	
	.footer-distributed .footer-left {
	width: 30%;
	padding-bottom: 10%;
	}
	
	.footer-distributed h3 {
	color: #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
	}
	
	
	.footer-distributed h3 span {
	color: #e0ac1c;
	}
	
	/* Footer links */
	
	.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	}
	
	.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	}
	
	.footer-distributed .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	}
	
	/* Footer Center */
	
	.footer-distributed .footer-center {
	width: 35%;
	}
	
	.footer-distributed .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
	}
	
	.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
	}
	
	.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
	}
	
	.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
	}
	
	.footer-distributed .footer-center p a {
	color: #e0ac1c;
	text-decoration: none;
	;
	}
	
	/* Footer Right */
	
	.footer-distributed .footer-right {
	width: 30%;

	}
	
	.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	}
	
	.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	}
	
	.footer-distributed .footer-icons {
		padding-right: 5px;
	}
	
	.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
	}
	
	.footer-distributed .footer-icons a:hover {
	background-color: #3F71EA;
	}
	
	.footer-links a:hover {
	color: #3F71EA;
	}
	
	@media (max-width: 880px) {
	.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i {
		margin-left: 0;
	}
	}       
		
	
		
	